In [100]:
import numpy as np
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [101]:
states = [
    'AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA',
    'HI','ID','IL','IN','IA','KS','KY','LA','ME','MD',
    'MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ',
    'NM','NY','NC','ND','OH','OK','OR','PA','RI','SC',
    'SD','TN','TX','UT','VT','VA','WA','WV','WI','WY'
]

years = np.arange(1991,2019).tolist()

In [111]:
url = 'https://www.statefirearmlaws.org/states/'
page = requests.get(url)
page

In [110]:
soup = BeautifulSoup(page.text,'lxml')

nums = soup.find_all('div',class_='number')
suicides = nums[0].text
homicides = nums[1].text

In [107]:
#Loop through multiple pages
df = pd.DataFrame(
    {
        'Suicides':[''], 
        'Homicides':[''],
        'Year':[''],
        'State':['']
    }
)
df

  Suicides Homicides Year State
0

In [108]:
for i in states:
    for j in years:
        full_link = url+i+'/'+str(j)
        page = requests.get(full_link)
        soup = BeautifulSoup(page.text,'lxml')
        nums = soup.find_all('div',class_='number')
        suicides = nums[0].text
        homicides = nums[1].text
        year = j
        state = i
        df = df.append({
                'Suicides':suicides, 
                'Homicides':homicides,
                'Year':year,
                'State':state
        },ignore_index=True)

df.head()

  Suicides Homicides  Year State
0
1    10.38       9.9  1991    AL
2     9.46      9.08  1992    AL
3    10.06      9.49  1993    AL
4     9.39      9.83  1994    AL

In [109]:
df.to_csv('/Users/jonzimmerman/Desktop/firearm_deaths.csv', index=False)