In [1]:
#Import libraries
import pandas as pd
import numpy as np

In [2]:
#Read in data
deaths = pd.read_csv("/Users/jonzimmerman/Desktop/Data Projects/FirearmsAnalysis/main/firearm_deaths.csv")
ownership = pd.read_excel("/Users/jonzimmerman/Desktop/Data Projects/FirearmsAnalysis/main/TL-354-State-Level Estimates of Household Firearm Ownership.xlsx",sheet_name='State-Level Data & Factor Score')
laws = pd.read_excel("/Users/jonzimmerman/Desktop/Data Projects/FirearmsAnalysis/main/TL-A243-2 State Firearm Law Database 3.0.xlsx",sheet_name='Database')

print("Dataset #1 Dimensions: ", deaths.shape)
print("Dataset #2 Dimensions: ", ownership.shape)
print("Dataset #3 Dimensions: ", laws.shape)

Dataset #1 Dimensions:  (1400, 4)
Dataset #2 Dimensions:  (1850, 20)
Dataset #3 Dimensions:  (2666, 27)

In [3]:
deaths.head(2)

   Suicides  Homicides  Year State
0     10.38       9.90  1991    AL
1      9.46       9.08  1992    AL

In [4]:
ownership = ownership.rename(columns={'STATE': 'Full_State'})
ownership.head(3)

,FIP,Year,Full_State,HFR,HFR_se,universl,permit,Fem_FS_S,Male_FS_S,BRFSS,GALLUP,GSS,PEW,HuntLic,GunsAmmo,BackChk,PewQChng,BS1,BS2,BS3
0,1,1980,Alabama,0.608,0.031,0,0,0.824324,0.833795,-9.0,0.55395,0.583632,-9.0,0.291102,-0.509164,-9.0,0,0.0,0.0,0.0
1,1,1981,Alabama,0.597,0.047,0,0,0.692308,0.831126,-9.0,-9.00000,-9.000000,-9.0,0.294962,-0.618954,-9.0,0,1.0,0.0,0.0
2,1,1982,Alabama,0.661,0.036,0,0,0.771739,0.821429,-9.0,-9.00000,0.655196,-9.0,0.290545,-0.526692,-9.0,0,2.0,0.0,0.0

In [5]:
laws['State'][0:5]

0    Alabama
1    Alabama
2    Alabama
3    Alabama
4    Alabama
Name: State, dtype: object

In [6]:
laws.columns

Index(['Law ID', 'State', 'State Postal Abbreviation', 'FIPS Code',
       'Law Class (num)', 'Law Class', 'Law Class Subtype',
       'Handguns or Long Guns', 'Effect', 'Type of Change', 'Effective Date',
       'Effective Date Note', 'Effective Date Year', 'Effective Date Month',
       'Effective Date Day', 'Statutory Citation', 'Content',
       'Supersession Date', 'Supersession Date Year',
       'Supersession Date Month', 'Supersession Date Day',
       'Controlling Law at Beginning of Period (1979)',
       'Age for Minimum Age Laws', 'Length of Waiting Period (days, handguns)',
       'Additional Context and Notes', 'Caveats and Ambiguities',
       'Exception Code'],
      dtype='object')

In [7]:
#Fix Mississippi and District of Columbia
laws['State'] = np.where(laws['State']=='MIssissippi', 'Mississippi', laws['State'])
laws['State'] = np.where(laws['State']=='DIstrict of Columbia', 'District of Columbia', laws['State'])

laws['State'].value_counts()

California              88
Hawaii                  75
Connecticut             69
New York                61
Delaware                60
Florida                 60
New Jersey              59
Illinois                58
District of Columbia    58
Massachusetts           57
Maryland                57
Washington              57
Missouri                57
Colorado                57
Utah                    56
Louisiana               54
Rhode Island            54
Indiana                 54
Oregon                  53
Pennsylvania            53
Idaho                   52
Tennessee               52
Arizona                 52
Virginia                52
Georgia                 52
Wisconsin               51
North Carolina          51
Nevada                  51
Michigan                50
West Virginia           49
Wyoming                 49
Arkansas                49
Alaska                  49
Mississippi             48
Nebraska                48
Texas                   48
Oklahoma                48
Vermont                 47
New Hampshire           46
New Mexico              46
Ohio                    46
Montana                 45
Minnesota               44
Maine                   44
North Dakota            44
Kentucky                44
Kansas                  44
Iowa                    43
Alabama                 43
South Carolina          41
South Dakota            41
Name: State, dtype: int64

In [8]:
del laws['Statutory Citation']
del laws['Law Class (num)']
del laws['Controlling Law at Beginning of Period (1979)']
del laws['Exception Code']

laws = laws.rename(
    columns={
        'State Postal Abbreviation': 'State_Abbrev',
        'State':'Full_State'
    }
)
laws.head(2)

,Law ID,Full_State,State_Abbrev,FIPS Code,Law Class,Law Class Subtype,Handguns or Long Guns,Effect,Type of Change,Effective Date,...,Effective Date Day,Content,Supersession Date,Supersession Date Year,Supersession Date Month,Supersession Date Day,Age for Minimum Age Laws,"Length of Waiting Period (days, handguns)",Additional Context and Notes,Caveats and Ambiguities
0,AL1001,Alabama,AL,1,background checks,private sales,handgun,NaN,NaN,NaN,...,NaN,No law requiring background checks for private...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL1002,Alabama,AL,1,background checks,sales from dealer,handgun,NaN,NaN,NaN,...,NaN,No law requiring background checks for sales f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
laws = laws[laws['Effective Date Year']>=1991]

In [10]:
laws.head(2)

,Law ID,Full_State,State_Abbrev,FIPS Code,Law Class,Law Class Subtype,Handguns or Long Guns,Effect,Type of Change,Effective Date,...,Effective Date Day,Content,Supersession Date,Supersession Date Year,Supersession Date Month,Supersession Date Day,Age for Minimum Age Laws,"Length of Waiting Period (days, handguns)",Additional Context and Notes,Caveats and Ambiguities
4,AL1005,Alabama,AL,1,castle doctrine,stand your ground,handgun and long gun,Permissive,Modify,2006-06-01,...,1.0,A person who is justified under subsection (a)...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,AL1012,Alabama,AL,1,minimum age,youth possession,handgun,Restrictive,Implement,2015-10-01,...,1.0,"No person who is a minor, except under the cir...",NaN,NaN,NaN,NaN,18,NaN,Restricted to pistols only. Exceptions include...,NaN

In [11]:
#Join death data on laws data
full_law = pd.merge(
    laws,
    deaths,
    how='left',
    left_on =['State_Abbrev','Effective Date Year'],
    right_on=['State','Year']
)
print("Dataset 1 Dimensions: ", laws.shape)
print("Dataset 2 Dimensions: ", deaths.shape)
print("Dataset 3 Dimensions: ", full_law.shape)

Dataset 1 Dimensions:  (679, 23)
Dataset 2 Dimensions:  (1400, 4)
Dataset 3 Dimensions:  (679, 27)

In [12]:
full_law.columns

Index(['Law ID', 'Full_State', 'State_Abbrev', 'FIPS Code', 'Law Class',
       'Law Class Subtype', 'Handguns or Long Guns', 'Effect',
       'Type of Change', 'Effective Date', 'Effective Date Note',
       'Effective Date Year', 'Effective Date Month', 'Effective Date Day',
       'Content', 'Supersession Date', 'Supersession Date Year',
       'Supersession Date Month', 'Supersession Date Day',
       'Age for Minimum Age Laws', 'Length of Waiting Period (days, handguns)',
       'Additional Context and Notes', 'Caveats and Ambiguities', 'Suicides',
       'Homicides', 'Year', 'State'],
      dtype='object')

In [13]:
del full_law['State'], full_law['Year'], full_law['Law Class Subtype'], full_law['Supersession Date'],full_law['Supersession Date Year'],full_law['Supersession Date Month'],full_law['Supersession Date Day']

In [14]:
full_law.head()

,Law ID,Full_State,State_Abbrev,FIPS Code,Law Class,Handguns or Long Guns,Effect,Type of Change,Effective Date,Effective Date Note,Effective Date Year,Effective Date Month,Effective Date Day,Content,Age for Minimum Age Laws,"Length of Waiting Period (days, handguns)",Additional Context and Notes,Caveats and Ambiguities,Suicides,Homicides
0,AL1005,Alabama,AL,1,castle doctrine,handgun and long gun,Permissive,Modify,2006-06-01,NaN,2006.0,6,1.0,A person who is justified under subsection (a)...,NaN,NaN,NaN,NaN,8.42,7.27
1,AL1012,Alabama,AL,1,minimum age,handgun,Restrictive,Implement,2015-10-01,NaN,2015.0,10,1.0,"No person who is a minor, except under the cir...",18,NaN,Restricted to pistols only. Exceptions include...,NaN,10.34,8.43
2,AL1016,Alabama,AL,1,registration,handgun,Permissive,Repeal,2015-09-01,NaN,2015.0,9,1.0,"(b) All records of pistol, revolver, or maxim ...",NaN,NaN,NaN,NaN,10.34,8.43
3,AL1019,Alabama,AL,1,waiting period,handgun,Permissive,Repeal,2000-08-01,NaN,2000.0,8,1.0,Repealed.,NaN,NaN,NaN,NaN,9.55,6.58
4,AL1023,Alabama,AL,1,prohibited possessor,handgun and long gun,Restrictive,Implement,2015-06-04,NaN,2015.0,6,4.0,No person who has been convicted in this state...,NaN,NaN,"The restraining order must ""explicitly prohibi...",NaN,10.34,8.43

In [15]:
full_law['Type of Change'].value_counts()

Implement    469
Modify       158
Repeal        50
See note       2
Name: Type of Change, dtype: int64

In [16]:
full_law['Effect_Num'] = np.where(full_law['Effect']=="Restrictive",1,0)
full_law['Effect_Num'].value_counts()

1    527
0    152
Name: Effect_Num, dtype: int64

In [17]:
#Groupby State and Year
full_law['Full_State'].value_counts()

California              34
Connecticut             27
Washington              21
Maryland                20
New York                20
Hawaii                  19
Delaware                19
Colorado                18
Utah                    18
Pennsylvania            17
Nevada                  17
Florida                 17
Arizona                 17
Massachusetts           16
North Carolina          15
Missouri                15
Nebraska                14
Illinois                14
District of Columbia    14
Oregon                  14
Wisconsin               14
Virginia                13
Oklahoma                13
Wyoming                 13
Idaho                   13
Georgia                 12
New Jersey              12
West Virginia           11
Michigan                11
New Hampshire           11
Louisiana               11
Vermont                 11
Alaska                  11
Tennessee               11
Kansas                  10
South Carolina          10
Maine                   10
Indiana                 10
Kentucky                10
Texas                   10
Alabama                  9
Rhode Island             9
Ohio                     9
New Mexico               9
Montana                  9
Arkansas                 8
Mississippi              8
North Dakota             7
Minnesota                7
South Dakota             6
Iowa                     5
Name: Full_State, dtype: int64

In [18]:
num_laws = full_law.groupby(['Full_State','Effective Date Year']).size().reset_index()
num_laws.rename(columns={ num_laws.columns[2]: "Num_Laws" }, inplace = True)
num_laws.head(5)

  Full_State  Effective Date Year  Num_Laws
0    Alabama               1994.0         1
1    Alabama               1998.0         1
2    Alabama               2000.0         1
3    Alabama               2006.0         1
4    Alabama               2015.0         5

In [19]:
#Join num_laws data on full laws data
df = pd.merge(
    full_law,
    num_laws,
    how='left',
    left_on =['Full_State','Effective Date Year'],
    right_on=['Full_State','Effective Date Year']
)
print("Dataset 1 Dimensions: ", full_law.shape)
print("Dataset 2 Dimensions: ", num_laws.shape)
print("Dataset 3 Dimensions: ", df.shape)

Dataset 1 Dimensions:  (679, 21)
Dataset 2 Dimensions:  (353, 3)
Dataset 3 Dimensions:  (679, 22)

In [22]:
df.head(2)

,Law ID,Full_State,State_Abbrev,FIPS Code,Law Class,Handguns or Long Guns,Effect,Type of Change,Effective Date,Effective Date Note,...,Effective Date Day,Content,Age for Minimum Age Laws,"Length of Waiting Period (days, handguns)",Additional Context and Notes,Caveats and Ambiguities,Suicides,Homicides,Effect_Num,Num_Laws
0,AL1005,Alabama,AL,1,castle doctrine,handgun and long gun,Permissive,Modify,2006-06-01,NaN,...,1.0,A person who is justified under subsection (a)...,NaN,NaN,NaN,NaN,8.42,7.27,0,1
1,AL1012,Alabama,AL,1,minimum age,handgun,Restrictive,Implement,2015-10-01,NaN,...,1.0,"No person who is a minor, except under the cir...",18,NaN,Restricted to pistols only. Exceptions include...,NaN,10.34,8.43,1,5

In [23]:
#Clean up content
#1.) Remove the \n next line symbol
df['Content'] = df['Content'].replace(r'\n',' ', regex=True) 
#2.) Remove parentheses and internal data
df['Content'] = df['Content'].str.replace(r"\(.*\)","")

<ipython-input-23-9ad363e708f8>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Content'] = df['Content'].str.replace(r"\(.*\)","")

In [24]:
#NLP on gun descriptions - cosine and hugging face pos/neg
#%pip install transformers
from transformers import pipeline
sentiment_pipeline = pipeline("sentiment-analysis")

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)
All model checkpoint layers were used when initializing TFDistilBertForSequenceClassification.

All the layers of TFDistilBertForSequenceClassification were initialized from the model checkpoint at distilbert-base-uncased-finetuned-sst-2-english.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFDistilBertForSequenceClassification for predictions without further training.

In [42]:
#Sentiment Analysis
col_list = df['Content'].values.tolist()
df['sentiment'] = sentiment_pipeline(col_list)
df['sentiment'].head()

0    {'label': 'POSITIVE', 'score': 0.7644837498664...
1    {'label': 'NEGATIVE', 'score': 0.9864904880523...
2    {'label': 'NEGATIVE', 'score': 0.9995653033256...
3    {'label': 'NEGATIVE', 'score': 0.9921448826789...
4    {'label': 'NEGATIVE', 'score': 0.9903581738471...
Name: sentiment, dtype: object

In [54]:
#Parse out pieces we want from sentiment column
df['sentiment_label'] = [x['label'] for x in df['sentiment']]
df['sentiment_score'] = [x['score'] for x in df['sentiment']]
print(df['sentiment_label'].head(2))
print(df['sentiment_score'].head(2))

0    POSITIVE
1    NEGATIVE
Name: sentiment_label, dtype: object
0    0.764484
1    0.986490
Name: sentiment_score, dtype: float64